body {
    
    
}


/*------- 

font-family: 'Pacifico', cursive;
font-family: 'Josefin Slab', serif; 

------------*/

.wow { visibility: hidden; 

}

img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.spot-title {
    
    font-family: 'Josefin Slab', serif;  
    
}

.spot-description {
    
    background-color: #fff;
    border-bottom: 4px #d2d2d2 transparent;
    margin-top: 5rem;
    margin-bottom: 5rem;
/*
    position: fixed;
    top: 4rem; */
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: 
}


.project-spot-1 {
    
    
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    z-index: -3;
    background-size: cover;
    
    
}


.project-spot-2 {
    
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    z-index: -3;
    background-size: cover;
    
}
.project-spot-3 {
    
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    z-index: -3;
    background-size: cover;
    
    
}

.project-spot-4 {
    
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    z-index: -3;
    background-size: cover;
    
    
}

.project-spot-5 {
    
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    z-index: -3;
    background-size: cover;
    
    
}

.project-spot-6 {
    
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    z-index: -3;
    background-size: cover;
    
    
    
}

.project-spot-7 {
    
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    z-index: -3;
    background-size: cover;
    
    
    
}

.project-spot-8 {
    
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    z-index: -3;
    background-size: cover;
    
    
    
}

.project-spot-9 {
    
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    z-index: -3;
    background-size: cover;
    
    
    
}

.project-spot-10 {
    
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    z-index: -3;
    background-size: cover; 
    
}


/*--- About.html css goes below --------------------------------------------------------------------------*/

.about-styles {
    
    padding-top: 5rem;
    padding-bottom:8rem;
    font-family: 'Josefin Slab', serif;
    text-decoration: none !important;
}

.border-warning{   
    
    border: 4px solid #ffc107 !important;

}

.profile-img {
    
    width: 205px; 
    height: 205px;
    z-index: 9000;
    border-bottom: 8px solid #333; 
    
}

.photo-padding-style{
    
    margin-top: -6rem;
    margin-bottom: 2rem;
}

.about-body-text {
    
    font-family: 'helvetica', sans-serif serif;
    text-decoration: none !important;
}


.about-text-style {
    
    text-decoration: none !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 5rem;
    
}

